/data/
.env
.idea
llm_traders/finagent/data
llm_traders/finagent/workdir
/llm_traders/finmem/.env
/llm_traders/finmem/data
/workdir
/scripts
/backtest/scripts
.cache
.vscode
.DS_Store
/backtest/__pycache__/
/backtest/.DS_Store
seekalpha invoice.pdf
/backup
*.ipynb
backtest/output/.DS_Store
/backtest/__pycache__
/backtest/__pycache__
*.pyc
backtest/__pycache__/backtest_engine.cpython-310.pyc
backtest/__pycache__/backtest_engine_iso.cpython-310.pyc
backtest/__pycache__/experiment_runner.cpython-310.pyc
backtest/output/.DS_Store
backtest/output/selected_5_bull_bear_analysis.png
backtest/strategy/selection/__pycache__/__init__.cpython-310.pyc
backtest/strategy/selection/__pycache__/random_sp500_selector.cpython-310.pyc
backtest/strategy/timing/__pycache__/arima_predictor.cpython-310.pyc
backtest/strategy/timing/__pycache__/atr_band.cpython-310.pyc
backtest/strategy/timing/__pycache__/base_strategy.cpython-310.pyc
backtest/strategy/timing/__pycache__/bollinger_band.cpython-310.pyc
backtest/strategy/timing/__pycache__/buy_and_hold.cpython-310.pyc
backtest/strategy/timing/__pycache__/finrl.cpython-310.pyc
backtest/strategy/timing/__pycache__/sma_crossover.cpython-310.pyc
backtest/strategy/timing/__pycache__/trend_following.cpython-310.pyc
backtest/strategy/timing/__pycache__/turn_of_the_month.cpython-310.pyc
backtest/strategy/timing/__pycache__/wma_crossover.cpython-310.pyc
backtest/strategy/timing/__pycache__/xgboost_predictor.cpython-310.pyc
backtest/strategy/timing_llm/__pycache__/__init__.cpython-310.pyc
backtest/strategy/timing_llm/__pycache__/base_strategy_iso.cpython-310.pyc
backtest/strategy/timing_llm/__pycache__/finagent.cpython-310.pyc
backtest/strategy/timing_llm/__pycache__/finmem.cpython-310.pyc
backtest/toolkit/__pycache__/backtest_framework_iso.cpython-310.pyc
*.csv
*.parquet
*.html
llm_traders/finmem/data-pipeline/Fake-Sample-Data.zip
*.pyc
backtest/output/.DS_Store
backtest/output/.DS_Store
*.pyc
*__pycache__*
*.DS_Store
backup
*.pyc
backtest/output/selected_5/FinMemStrategy/.DS_Store
